/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

.navbar {
    margin-bottom: 20px;
}


/* * {
    box-sizing: border-box;
}
.card-columns {
    display: inline-block;
}

 */

.container {
    margin-top: 80px;
}

table {
    width: 100%;
}

th,
td {

    width: 10%;
    text-align: justify;
    vertical-align: top;
    padding: 15px;
}