/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */


/* * {
    box-sizing: border-box;
}
.card-columns {
    display: inline-block;
}

 */

table {
    width: 100%;
}

th,
td {


    width: 10%;
    text-align: justify;
    vertical-align: top;
    padding: 15px;

}

textarea {
    resize: vertical;
}

#app {
    padding: 80px;
    background-color: whitesmoke;

}